/*
 * Copyright (C) 2018, Comma.ai, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

#include "msm8996pro.dtsi"
#include "msm-pmi8996.dtsi"
#include "msm8996-mtp.dtsi"
#include "dsi-panel-samsung_s6e3fa3_1080p_cmd.dtsi"
#include "dsi-panel-samsung_s6e3fa5_1080p_cmd.dtsi"
#include "dsi-panel-samsung_s6e3fa5r9s_1080p_cmd.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. MSM 8996pro + PMI8996 MTP";
	compatible = "qcom,msm8996-mtp", "qcom,msm8996", "qcom,mtp";
	qcom,board-id = <8 0 15811 26>, <8 0 15811 27>, <8 0 15811 28>;
};

&pil_gpu {
	qcom,firmware-name = "a530_zap-pro";
};

&tlmm {
	ts_mux {
		ts_active: ts_active {
			mux {
				pins = "gpio89", "gpio125","gpio49";
				function = "gpio";
			};

			config {
				pins = "gpio89", "gpio125","gpio49";
				drive-strength = <16>;
				bias-pull-up;
			};
		};

		ts_suspend: ts_suspend {
			mux {
				pins = "gpio89", "gpio125","gpio49";
				function = "gpio";
			};

			config {
				pins = "gpio89", "gpio125","gpio49";
				drive-strength = <2>;
				bias-disable;
			};
		};
	};
};

&soc {
	i2c@75ba000 {
		/delete-node/ synaptics@20;

		synaptics-rmi-ts@20 {
			compatible = "synaptics,s3320";
			reg = <0x20>;
			interrupt-parent = <&tlmm>;
			interrupts = <125 0x2008>;
			synaptics,irq-gpio = <&tlmm 125 0x2008>;
			synaptics,reset-gpio = <&tlmm 89 0x00>;
			synaptics,1v8-gpio = <&tlmm 49 0x00>;
			synaptics,tx-rx-num = <16 28>;
			synaptics,display-coords = <1080 1920>;
			vdd_2v8-supply = <&pm8994_l22>;
			vcc_i2c_1v8-supply = <&pm8994_s4>;
			oem,support_hw_poweroff;
			pinctrl-names = "pmx_ts_active", "pmx_ts_suspend";
			pinctrl-0 = <&ts_active>;
			pinctrl-1 = <&ts_suspend>;
		};
	};

	qcom,cnss {
		/delete-property/ qcom,wlan-ramdump-dynamic;
	};
};
